/*----------------------------FORM CONTROL-------------------------------------*/
/*---------------------------------------------------------------------------*/
.form-control {
    padding: 0px 8px !important;
    height: calc(1.4em + 1.1rem) !important;
    border-radius: 2px !important;
    font-family: 'Khmer OS Siemreap', 'Khmer OS Content' !important;
}

.form-group label, label {
    font-size: 15px !important;
    font-weight: 300 !important;
    color: #0e1726 !important;
    letter-spacing: 1px !important;
    font-family: 'Khmer OS Siemreap', 'Khmer OS Content' !important;
}

.form-group .form-row {
    margin-bottom: 0px !important;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/




/*----------------------------SELECT 2-------------------------------------*/
/*---------------------------------------------------------------------------*/
.select2-container .select2-selection--single .select2-selection__rendered {
    font-family: 'Khmer OS Siemreap', 'Khmer OS Content' !important;
    padding: 8px 8px !important;
    height: calc(1.4em + 1.1rem) !important;
    border-radius: 2px !important;
}

.select2-results__option {
    font-family: 'Khmer OS Siemreap', 'Khmer OS Content' !important;
    padding: 8px 19px !important;
}

    .select2-results__option:hover {
        background-color: #EFEFEF !important;
    }

.select2-search__field {
    font-family: 'Khmer OS Siemreap', 'Khmer OS Content' !important;
    padding: 6px 16px !important;
    border-radius: 2px !important;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/




/*----------------------------TABLE-------------------------------------*/
/*---------------------------------------------------------------------------*/
thead {
    background-color: #F1F2F3 !important;
}

.table > thead > tr > th {
    font-size: 15px !important;
    font-weight: bold !important;
    color: #0e1726 !important;
    letter-spacing: 1px !important;
    font-family: 'Khmer OS Siemreap', 'Khmer OS Content' !important;
}

.table-bordered th {
    /*border: 1px solid #E5E6E7 !important;*/
    border: none !important;
}

.table-bordered td {
    border: none !important;
}

.cell-text {
    font-weight: bold !important;
    margin-bottom: 0px !important;
}

.cell-subtext {
    font-size: 11px !important;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/




/*----------------------------WIDGET-------------------------------------*/
/*---------------------------------------------------------------------------*/

.widget-content-area {
    border-radius: 6px !important;
}

    .widget-content-area .widget-title h4 {
        position: relative;
        font-family: 'Khmer OS Muol Light' !important;
        font-weight: 300 !important;
        color: #3b3f5c;
        margin: 6px 0px 20px 0;
    }

        .widget-content-area .widget-title h4:after {
            position: absolute;
            content: "";
            height: 2px;
            width: 97px;
            background: #2196f3;
            border-radius: 50%;
            bottom: -5px;
            left: 15px;
        }
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

.flatpickr-calendar.open {
    z-index: 99999 !important;
}


/*----------------------------MODAL-------------------------------------*/
/*---------------------------------------------------------------------------*/
.modal-header {
    background-color: #E4E4E4 !important;
}

.modal-title {
    font-size: 15px !important;
    font-family: 'Khmer OS Muol Light' !important;
    /*font-weight: bold !important;*/
    color: #4E4F50 !important;
    letter-spacing: 1px !important;
}

.modal-title-msg {
    font-size: 13px !important;
    font-family: 'Khmer OS Siemreap', 'Khmer OS Content' !important;
    font-weight: bold !important;
    color: #4E4F50 !important;
    letter-spacing: 1px !important;
    margin-bottom: 0px !important;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

#content:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(136, 142, 168, 0.21176470588235294);
    width: 100%;
    height: 183px;
    z-index: -1;
}



*, ::after, ::before {
    box-sizing: border-box;
}
