@page "/"
@*<h1>Hello, world!</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@


<div class="d-flex justify-content-center align-content-center">
    <div class="text-center p-5">
        <img src="img/logonssf.png" class="logo" />
        <p style="font-family: var(--muol) !important; font-size: 20px !important">បេឡាជាតិសន្តិសុខសង្គម</p>
        <p style="font-size: 15px">ប្រព័ន្ធគ្រប់គ្រងសោធន</p>
    </div>
    
</div>


