@inherits ConfirmBase


@if (ShowConfirmation)
{


    <div class="modal fade" id="confirmmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">អ្នកពាក់ព័ន្ធសោធនិក</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal"><i class="flaticon-cancel-12"></i>បោះបង់</button>
                    <button type="button" class="btn btn-primary">យល់ព្រម</button>
                </div>
            </div>
        </div>
    </div>
}




